.bg-primary {
   background-color: #1c4583!important;
}

.sidenav {
   min-height: 100vh;
   height: 100%;
   width: 250px;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   overflow-x: hidden;
   .container {
      padding: 20px 30px;
      .col-6 {
         padding: 0;
      }
   }
   .profile {
      color: #fff;
		&__icon {
         padding: 0;
         width: 90%;
		}
		&__phone {
         margin: 0px 0px 10px 0px;
         font-size: 16px;
         font-weight: 700;
		}
		&__balance {
         margin: 3px 0px 0px 0px;
         font-size: 11px;
         font-weight: 500;
		}
      &__exit {
         text-decoration: none;
         color: #fff;
         font-size: 11px;
         font-weight: 500;
      }
   }

	&__nav {

	}
   .nav {
   }
   .flex-column {
   }
   .nav-item {
   }
   .nav-link {
      font-size: 14px;
      color: #859cbe;
      &:hover {
      color: #c7d6e6;
      background: #183d72;
      }
   }

   &__version {
      margin: 40px 0px 0px 0px;
      font-size: 12px;
      color: #34598f;
   }
}
