.hovered-link:hover {
    color: #fff;
    cursor: pointer;
}
.hovered-link.green:hover {
    color: #198754;
    cursor: pointer;
}
.hovered-link.yellow:hover {
    color: #ffc107;
    cursor: pointer;
}
.hovered-link.red:hover {
    color: #ff3333;
    cursor: pointer;
}
.hovered-link {
    margin-bottom: 0;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.text-inline {
    text-decoration: underline;
}
.table th, .table td {
    padding: 5px!important;
}
.hovered-btn.dark:hover {
    color: #212529!important;
}