.hovered-link:hover {
    color: #fff;
    cursor: pointer;
}
.hovered-link {
    margin-bottom: 0;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.text-inline {
    text-decoration: underline;
}

.table th, .table td {
    padding: 5px!important;
}