.order__header {
   overflow-x: auto;
}

.widget-list {
   flex-wrap: nowrap!important;
}

.number {
   width: 35px!important;
}

.widget-body {
   line-height: 0.71429;
   min-width: 130px;
   text-align: center;
}

.text-muted {
   white-space: nowrap;
   color: #2b3043b3!important;
   margin-bottom: 0!important;
}

.text-inverse .text-muted {
   color: rgba(255, 255, 255, 0.7) !important;
}

.rounded-card {
   width: 100%!important;
   display: inline-block;
   font-weight: 400;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   border: 2px solid transparent;
   padding: 0.375rem 0.75rem;
   font-size: 0.875rem;
   line-height: 1.5;
   border-radius: 0.25rem;
}

.rounded-card .text-muted {
   color: #fff!important;
}

.eclips {
   overflow: hidden;
   text-overflow: ellipsis;
}

.url-input-wrapper {
   padding: 5px 0.75rem;
}

.url-input {
   outline: none;
   border: none;
   color: #fff;
   font-weight: 600;
}

.numeration {
   padding: 0.375em 0!important;
}

.subnumeration {
   width: 35px!important;
   font-size: 12px;
   top: 0;
   left: -7px;
   background: none!important;
   border: none;
}

.subnumeration p {
   font-size: 12px;
   color: #fff!important;
}

.image {
   
}

.widget-holder:not(:first-child) {
   max-width: 208.47px;
   min-width: 207px;
}

.btn {
   font-weight: 700!important;
}

.customInput {
   display: none;
}

.customInputLabel {
   padding: 40px 0px;
   border: 1px dashed aqua;
   width: 100%;
   white-space: nowrap;
   cursor: pointer;
}

#client-info p {
   white-space: nowrap;
}

.order__body input {
   width: 100px!important;
   margin-left: 20px!important;
}

#client-info {
   margin: 20px 0;
   align-items: center;
   font-weight: 700;
}

.order__body p {
   white-space: nowrap;
   margin: 0;
   font-weight: 700;
}

.long-block {
   max-width: 300px!important;
   min-width: 299px!important;
}

.medium-block {
   max-width: 230px!important;
   min-width: 229px!important;
}