<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link rel="stylesheet" href="css/style.css">
   <script src="https://kit.fontawesome.com/e573f55991.js" crossorigin="anonymous"></script>
   <title>CNSHOP</title>
</head>
<body>
   <div class="bg-primary sidenav">
      <div class="sidenav__profile-wrapper container">
         <div class="sidenav__profile d-flex justify-content-start profile">
            <div class="row align-items-center">
               <div class="col-6">
                  <div class="icon-wrapper">
                     <img class="profile__icon w-75" src="assets/images/profile.png" alt="profile photo">
                  </div>
               </div>
               <div class="col-6">
                  <h3 class="profile__phone">5700</h3>
                  <p class="profile__balance">Баланс: 3435.24</p>
                  <a href="#" class="profile__exit">Выход</a>
               </div>
            </div>
         </div>
      </div>
      <nav class="sidenav__nav">
         <ul class="nav flex-column">
            <li class="nav-item">
               <a class="nav-link" href="#"><i class="fas fa-plane-departure me-3"></i>Мои заказы</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#"><i class="fas fa-truck me-3"></i>Моя доставка</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#"><i class="fas fa-shopping-cart me-3"></i>Заказы Мини-магазина</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#"><i class="fas fa-address-card me-3"></i>Персональные данные</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#"><i class="fas fa-envelope me-3"></i>История сообщений</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#"><i class="fas fa-exchange-alt me-3"></i>Возврат товара</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#"><i class="fas fa-heart me-3"></i>Избранное</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#"><i class="fas fa-sync-alt me-3"></i>Перепродажа</a>
            </li>
         </ul>
      </nav>
      <div class="sidenav__version text-center">
         <p>CNSHOP v1.0</p>
      </div>
   </div>
   
   <main id="page">
      <div class="page__wrapper">

         <section class="page__header header container">
            <div class="header__wrapper d-flex justify-content-between">
               <div class="header__arrival">
                  <ul class="nav">
                     <li class="nav-item ms-3">
                        <div class="link-wrapper">
                           <a href="#" class="nav-link">Доставка до Благовещенска</a>
                        </div>
                     </li>
                     <li class="nav-item ms-5">
                        <div class="link-wrapper">
                           <a href="#" class="nav-link">Доставка по Росии</a>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="header__nav">
                  <ul class="nav">
                     <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fas fa-bell"></i></a>
                     </li>
                     <li class="nav-item">
                        <a href="#" class="nav-link">Главная</a>
                     </li>
                     <li class="nav-item">
                        <a href="#" class="nav-link">Старые заказы</a>
                     </li>
                     <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fas fa-language me-2"></i> русский язык</a>
                     </li>
                  </ul>
               </div>
            </div>
         </section>

         <section class="page__body body">
            <div class="container body__wrapper">
               
            </div>
         </section>

      </div>
   </main>

   <script src="script.js"></script>
</body>
</html>