.page {
   &__header {
      padding-top: 20px;
      height: 65px;
      width: 100%;
      position: sticky;
      top: 0;
      z-index: 20;
      background-color: #fff;
   }
}
.header {
   &__arrival {
      .nav {
      }
      .nav-item {
         
      }
      .nav-link {
         padding: 0 0 20px 0;
         color: #8f8c8c;
         &:hover {
            color: #000;
            border-bottom: 2px solid #90b4da;
         }
      }
   }
   &__nav {
      .nav-item {
         margin: 0px 30px 0px 0px;
      }
      .nav-link {
         padding: 0 0 20px 0;
      }
   }
}

