*,
*::before,
*::after {
box-sizing: border-box;
}

ul[class],
ol[class] {
padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
margin: 0;
}

body {
height: 100%;
scroll-behavior: smooth;
text-rendering: optimizeSpeed;
line-height: 1.5;
}

ul[class],
ol[class] {
list-style: none;
}

a:not([class]) {
text-decoration-skip-ink: auto;
}

img {
max-width: 100%;
display: block;
}

article > * + * {
margin-top: 1em;
}

input,
button,
textarea,
select {
font: inherit;
}

.wrapper {
min-height: 100%;
}

@media (prefers-reduced-motion: reduce) {
* {
animation-duration: 0.01ms !important;
animation-iteration-count: 1 !important;
transition-duration: 0.01ms !important;
scroll-behavior: auto !important;
}
}

main#page {
   margin: 0px 0px 0px 250px;
}
::-webkit-scrollbar { /* chrome based */
   width: 0px;  /* ширина scrollbar'a */
   background: transparent;  /* опционально */
}

html {
   -ms-overflow-style: none;  /* IE 10+ */
   scrollbar-width: none; /* Firefox */
}

@import "_sidenav";
@import "_header";
@import "_body";